<h1><%= post.title %></h1>
<p><%= post.content %></p>

<% post.images.forEach((image) => { %>
    <div>
        <img src="<%= image.url %>" alt="">
    </div>
<% }) %>

<% if (userId && userId.toString() === post.author._id.toString()) { %>
    <a href="/posts/<%= post._id %>/edit">Edit</a>
    <a href="/posts/<%= post._id %>/delete">Delete</a>
<% } %>
<h3>Comments</h3>
<form action="/posts/<%= post._id %>/comments" method="post">
    <input type="text" name="content">
    <input type="submit" value="Comment">
</form>