<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/chat.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <% if (typeof headerFooter === 'undefined' || headerFooter) { %>
        <%- include('../partials/header') %>
    <% } %>
    <div class="main">
        <!-- Success Message -->
        <% if (typeof message !== 'undefined') { %>
            <p style="color: green; font-weight: bold;"><%= message %></p>
        <% } %>

        <!-- Error Message -->
        <% if (typeof error !== 'undefined') { %>
            <p style="color: red; font-weight: bold;"><%= error %></p>
        <% } %>

        <!-- Main Content -->
        <%- body %> 
    </div>
    <% if (typeof headerFooter === 'undefined' || headerFooter) { %>
        <%- include('../partials/footer') %>
    <% } %>
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
    <script src="/js/custom.js" defer></script>
</body>
</html>
