<div class="container">
      <h3>Edit User - <%= user.name %></h3>
  <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>"/>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="tel" class="form-control" id="phone" name="phone" value="<%= user.phone %>"/>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" id="image" name="image" />
    </div>
    <input type="hidden" name="old_image" value="<%= user.image %>">
    <button type="submit" class="btn btn-success" name="submit" value="Update User">Submit</button>
  </form>
</div>
