<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/chat.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
    <div class="main">
        <!-- Success Message -->
        <% if (typeof message !== 'undefined') { %>
            <p style="color: green; font-weight: bold;"><%= message %></p>
        <% } %>

        <!-- Error Message -->
        <% if (typeof error !== 'undefined') { %>
            <p style="color: red; font-weight: bold;"><%= error %></p>
        <% } %>

        <!-- Main Content -->
        <%- body %> 
    </div>
    <%- include('../partials/footer') %> 
    <script src="/js/custom.js" defer></script>
</body>
</html>
