<h1>Hi <%= user.name %></h1>
<input type="hidden" id="loggedInUserId" value="<%= user._id %>">
<div>
  <h3>All Users</h3>
  <ul>
    <% users.forEach(function(user) { %>
      <li class="user-list">
        <strong>Name:</strong> <%= user.name %><br>
        <img src="<%= user.image %>" alt="User Image" width="50" height="50">
        <% 
        if (user.is_online == 1) { %>
            <sup class="online-status" id="<%= user._id %>-status">Online</sup>
        <% } else { %> 
            <sup class="offline-status" id="<%= user._id %>-status">Offline</sup>
        <% } %>  
      </li>
    <% }); %>
</ul>


  <h3 class="start-head">Click to start the chat</h3>
  <div class="chat-section">
    <div id="chat-container">

    </div>
    <form action="" id="chat-form">
      <input type="text" name="message" placeholder="Enter Message" id="message" required>
      <input type="submit" value="Send">
    </form>
  </div>
</div>
